<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
<div class="w-50">
    <h3 class="mb-4 text-center">Edition</h3>
    <div class="row mb-3">
        <div class="col-4 text-right font-weight-bold">Name:</div>
        <div class="col-8">{{ product.name  }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-4 text-right font-weight-bold">Comment:</div>
        <div class="col-8">{{ product.comment  }}</div>
    </div>
    <div class="text-center mt-4">
        <a href="https://127.0.0.1:8000/products" class="btn btn-secondary">Back</a>
    </div>
</div>
</body>
</html>
