<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body>
<div class="container">
    <h2 class="mt-5">Ajouter un contact</h2>
    <form id="contactForm" novalidate>
        <div class="mb-3 col-md-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
            <div class="error-message" id="nameError"></div>
        </div>
        <div class="mb-3 col-md-3">
            <label for="firstname" class="form-label">firstname</label>
            <input type="text" class="form-control" id="firstname" placeholder="firstname">
            <div class="error-message" id="firstnameError"></div>
        </div>
        <div class="mb-3 col-md-3">
            <label for="age" class="form-label">age</label>
            <input type="text" class="form-control" id="age" placeholder="jj/mm/aaaa">
            <div class="error-message" id="ageError">Please enter your age</div>
        </div>
        <div class="mb-3 col-md-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address">
            <div class="error-message" id="emailError">Please enter Email Address</div>
        </div>
        <div class="mb-3 col-md-3">
            <label for="telephone" class="form-label">Telephone</label>
            <input type="tel" class="form-control" id="telephone" placeholder="Telephone">
            <div class="error-message" id="telephoneError">Please enter phone</div>
        </div>
        <div class="mb-3 col-md-3">
            <label for="location" class="form-label">Ville</label>
            <select class="form-select" id="location">
                <option selected disabled value="">Please select a city</option>
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>
                <option value="Marseille">Marseille</option>
            </select>
            <div class="error-message" id="locationError">Please enter your age</div>
        </div>
        <div class="mb-3 col-md-3">
            <label class="form-label">Metier</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="dev1">
                <label class="form-check-label" for="dev1">Integrateur</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="dev2">
                <label class="form-check-label" for="dev2">Reseau</label>
            </div>
            <div class="error-message" id="metierError">Please select a job</div>
        </div>
        <div class="mb-3 col-md-3">
            <label for="siteweb" class="form-label">Siteweb</label>
            <input type="url" class="form-control" id="siteweb" placeholder="Siteweb">
            <div class="error-message" id="sitewebError">Please enter website url</div>
        </div>
        <div class="mb-3 col-md-3">
            <label for="commentaire" class="form-label">Commentaire</label>
            <textarea class="form-control" id="commentaire" placeholder="Commentaire"></textarea>
            <div class="error-message" id="commentaireError">Please enter a description</div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-success">submit</button>
            <button type="reset" class="btn btn-secondary">Retour</button>
        </div>
    </form>
</div>


</body>
</html>
